# Code owners — approval required for PRs to production branches
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @sleepdefic1t
